1_Datasets/1.3a_genotyping/fairfilters/Ceratopipra_rubrocapilla_imeriout_m07.GBSPipfilbwa.allsites.filtered.for_pixy.auto.49_0.2_5_20.vcf.gz
1_Datasets/1.3a_genotyping/fairfilters/Ceratopipra_rubrocapilla*vcf.gz
1_Datasets/1.0*/Pipra_filicauda.ref.fa.gz
*.RData
2_Phylogeny/*BEAST*/*/run_*/*trees
3_Structure/3.1aa_PCoA_files
3_Structure/3.1aa_PCoA_cache
